body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    line-height: 1.6;
}

header {
    color:#224e23;
    background-color:rgba(169, 169, 169, 0.384) ;
    padding: 20px 0;
    text-align: center;
    font-family: Arial, sans-serif;
}
h1 {
    font-size: 40px;
}
main {
    padding: 20px;
    font-family: Arial, sans-serif;
}

section {
    margin-bottom: 30px;
}

h2 {
    color: #4CAF50;
    margin-bottom: 10px;
}

p {
    font-size: 18px;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

li {
    margin: 10px 0;
    font-size: 16px;
}
p {
    max-width: 40%;
}



