@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inconsolata:wght@200..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background-color: #313131;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: "Inconsolata", monospace;
}
.card {
    background-image: url(/level51/homework/interactive-rating-component-main/interactive-rating-component-main/images/icon-star.svg), linear-gradient(167deg, hsl(213, 19%, 18%), hsl(216, 12%, 11%) );
    background-repeat: no-repeat;
    background-size: 22PX, 100%;
    background-position: 43px 44px, 0px;
    display: flex;
    flex-direction: column;
    justify-content: end;
    color: white;
    padding: 30px;
    border-radius: 20px;
    width: 400px;
    height: 370px;
    font-size: 17px;
    position: relative;
}
.card::before {
    content: "";
    position: absolute;
    top: 30px;
    left: 30px; 
    width: 48px;
    height: 48px;
    background-color: rgba(255, 255, 255, 0.2); 
    border: 0px solid white; 
    border-radius: 50%; 
}
h2 {
    font-size: 32px;
}
.ratings {
    display: flex;
    justify-content: space-evenly;
}
P {
    margin-top: -6px;
    font-size: 16px;
    color: rgba(170, 169, 169, 0.579);
    width: 90%;
}
.ratings button {
    width: 53px;
    height: 53px;
    border-radius: 50%;
    border: none;
    background: hsla(217, 12%, 63%, 0.105);
    color: rgb(218, 211, 211);
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
    margin: 10px 10px;
    margin-bottom: 27px;
    transition: background 0.5s  ease;
}
.ratings button:hover {
    background: hsl(25, 97%, 53%);
}
.submit-btn {
    width: 100%;
    padding: 16px;
    border: none;
    background: hsl(25, 97%, 53%);
    color: black;
    font-size: 16px;
    border-radius: 25px;
    cursor: pointer;
    margin-bottom: 10px;
    font-weight: 600;
    transition: color 0.5s ease, background-color 0.5s ease;}
.submit-btn:hover {
    color: rgb(38, 38, 38);
    background-color: white;
}