* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: rgb(194, 9, 34);
    background: linear-gradient(167deg, rgba(223,45,70,1) 0%, rgba(141,21,195,1) 100%);
    background-size: 300vh;
    height: 100vh;
    background-repeat: no-repeat;
    color: white;
}

table {
    width: 60%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin: auto;
    margin-top: 15%;
    background-color: rgba(36, 221, 159, 0.8); 
}

th, td {
    border: 0px solid #ddd;
    padding: 20px;
    text-align: left;
}

th {
    color: #333;
}

td:nth-child(2), td:nth-child(3), td:nth-child(4) {
    text-align: center;
}

th, td {
    font-size: 14px;
    color: white;
}

table tr:first-child th {
    border-top: none;
}

table tr:last-child td {
    border-bottom: none;
}

tr {
    border-bottom: 0.5px solid rgba(255, 255, 255, 0.3); 
}

tr:hover {
    background-color: rgba(255, 255, 255, 0.3);
}
tr:nth-child(1):hover {
    background-color: transparent;
}
td:nth-child(1) button {
    pointer-events: none; 
}