body {
    background-color:black ;
    color: rgb(255, 255, 255);
    text-align: center;
    font-size: x-large;
    margin-top: 5%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: linear-gradient(to left, rgb(0, 0, 0),  rgb(66, 66, 66), rgb(114, 114, 114), rgb(170, 169, 169));
}

main {
    border: 10px solid rgb(255, 255, 255);
    max-width: 60%;
    margin: auto;
    margin-top: 8%;
    border-style: dotted;

}