@import url('https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Inconsolata:wght@200..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
body {
    background-color: #121212;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Inter", sans-serif;
}

.card {
    background: #1e1e1e;
    color: white;
    text-align: center;
    padding: 40px;
    border-radius: 10px;
    width: 300px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.card-image {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.card-location {
    color: #c4f82a;
    font-weight: bold;
}

.card-bio {
    font-style: italic;
    margin: 10px 0;
    font-size: 14px;
}

.card-sites {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.btn {
    background: #333;
    color: white;
    text-decoration: none;
    padding: 13px 20px;
    border-radius: 10px;
    font-weight: bold;
    transition: background 0.3s ease;
}
.btn:hover {
    background: #c4f82a;
    color: #121212;
}
